---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "List of services we offer";
---

<Section id="services">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Our Services"
      description={description}
    />
    <Accordion />
  </div>
</Section>
