---
import { Image } from "astro:assets";
import s1 from "../../assets/pics/1.png";
import s2 from "../../assets/pics/2.png";
import s3 from "../../assets/pics/3.png";
import s4 from "../../assets/pics/4.png";
import s5 from "../../assets/pics/5.png";
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";

const sponsors = [
  { logo: s1, alt: "Amazon logo" },
  { logo: s2, alt: "Dribble logo" },
  { logo: s3, alt: "HubSpot logo" },
  { logo: s4, alt: "Notion logo" },
  { logo: s5, alt: "Netflix logo" },
];

const description =
  "Few of our proud partners and customers";
---

<Section id="sponsors">
 <SectionTitle sectionTitle="Partners" description={description} />
  <div class="flex flex-wrap justify-between gap-7 mt-[60px]">
    {
      sponsors.map((sponsor) => {
        return (
          <div>
            <Image src={sponsor.logo} alt={sponsor.alt} loading="eager" />
          </div>
        );
      })
    }
  </div>
</Section>
